.main {
    color: #242F51;
}

form {
    margin-top: 2rem;
    /* background: #E2EAED; */
    /* box-shadow: 0 1rem 4rem rgba(0,0,0,0.175); */
    padding: 1rem 0.5rem;
    border-radius: 6px;
    font-size: 1.4rem;
    max-width: 500px;
   
}

.form {
    height: calc(100dvh - 80px - 1.5rem);
}


.hero {
    height: calc(100dvh - 56px - 1.5rem);
}

.header {
    box-shadow: 0px 2px 20px 0px #4f566513;
    background-color: rgba(255, 255, 255, 0.153);
    
}